---
- name: Install OpenSSH server (Debian/Ubuntu)
  ansible.builtin.apt:
    name: openssh-server
    state: present
    update_cache: true
  when: ansible_facts.os_family == "Debian"

- name: Deploy sshd_config
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0600"
    validate: "/usr/sbin/sshd -t -f %s"
  notify: Restart sshd

- name: Create trusted_user_ca directory
  ansible.builtin.file:
    path: /etc/ssh/trusted_user_ca
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Deploy CA public keys
  ansible.builtin.copy:
    src: "files/{{ item }}"
    dest: "/etc/ssh/trusted_user_ca/{{ item }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - ca_human.pub
    - ca_ansible.pub

- name: Create auth_principals directory
  ansible.builtin.file:
    path: /etc/ssh/auth_principals
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Deploy authorized principals per user
  ansible.builtin.copy:
    dest: "/etc/ssh/auth_principals/{{ item.key }}"
    content: |
      {{ item.value | join('\n') }}
    owner: root
    group: root
    mode: "0644"
  loop: "{{ ssh_principals | dict2items }}"
  notify: Restart sshd

- name: Create trusted_user_ca directory
  ansible.builtin.file:
    path: /etc/ssh/trusted_user_ca
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Deploy CA public keys
  ansible.builtin.copy:
    src: "files/{{ item }}"
    dest: "/etc/ssh/trusted_user_ca/{{ item }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - ca_human.pub
    - ca_ansible.pub