---
- name: Set derived vars
  ansible.builtin.set_fact:
    _pve_node: "{{ pve_target_node | default(pve_node_default) }}"
    _ciuser: "{{ pve_ciuser | default(pve_ciuser_default) }}"
    _domain: "{{ vm_domain | default(pve_searchdomain_default) }}"
    _ipconfig0: "{{ vm_ipconfig0 | default(pve_ipconfig0_default) }}"
    _hostname: "{{ vm_name }}"
   # _nameserver: "{{ vm_nameserver | default(omit) }}"
  changed_when: false

# 0) ak existuje, nerob nič (idempotencia)
- name: Check if target VM exists (API)
  community.proxmox.proxmox_kvm:
    api_host: "{{ pve_api_host }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    validate_certs: "{{ pve_api_validate_certs }}"
    node: "{{ _pve_node }}"
    vmid: "{{ vmid }}"
    state: current
  register: _vm_current
  failed_when: false
  changed_when: false

# 1) Clone template -> nový VM
- name: Clone VM from template (API) {{ pve_template_vmid }} -> {{ vmid }}
  community.proxmox.proxmox_kvm:
    api_host: "{{ pve_api_host }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    validate_certs: "{{ pve_api_validate_certs }}"
    node: "{{ _pve_node }}"
    clone: "{{ pve_template_vmid }}"     # zdroj (template VMID)
    newid: "{{ vmid }}"                 # cieľový VMID
    name: "{{ vm_name }}"
    full: "{{ pve_clone_full | default(false) | bool }}"
    target: "{{ _pve_node }}"           # klonuj na tento node
    state: present
  register: _clone
  failed_when:
    - _clone is failed
    - "'already exists' not in (_clone.msg | default('') | lower)"


# 2) Configure cloud-init identity (API update)
- name: Configure cloud-init (API)
  community.proxmox.proxmox_kvm:
    api_host: "{{ pve_api_host }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    validate_certs: "{{ pve_api_validate_certs }}"
    node: "{{ _pve_node }}"
    vmid: "{{ vmid }}"
    update: true
    ciuser: "{{ _ciuser }}"
    ipconfig:
      ipconfig0: "{{ _ipconfig0 }}"     # "ip=dhcp"
    searchdomains:
      - "{{ _domain }}"                 # "local"
    state: present

# 3) Start VM
- name: Start VM (API)
  community.proxmox.proxmox_kvm:
    api_host: "{{ pve_api_host }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    validate_certs: "{{ pve_api_validate_certs }}"
    node: "{{ _pve_node }}"
    vmid: "{{ vmid }}"
    state: started
