timezone: "Europe/Prague"

# Ansible user na target strojoch
ansible_managed_user: "ansible"
ansible_managed_groups: ["sudo"]

# Sudo politika pre ansible usera (začneme široko, neskôr zúžime)
ansible_sudo_nopasswd: true

# po bootstrap-e sa pripájame ako automation user
ansible_user: joseph

# kde sa držia kľúče na control node
ssh_key_dir: "{{ lookup('env','HOME') ~ '/.ssh' }}"

# identita kľúčov - deterministická podľa hostu v inventári
ssh_identity_prefix: "{{ inventory_hostname }}"

# vypočítané cesty ku kľúčom
ssh_key_human_private: "{{ ssh_key_dir }}/{{ ssh_identity_prefix }}_joseph_ed25519"
ssh_key_human_public:  "{{ ssh_key_human_private }}.pub"

ssh_key_ansible_private: "{{ ssh_key_dir }}/{{ ssh_identity_prefix }}_ansible_ed25519"
ssh_key_ansible_public:  "{{ ssh_key_ansible_private }}.pub"

sshd_allow_password: true
sshd_allow_root: false
sshd_pubkey_auth: true

ssh_principals:
  ansible:
    - ansible
  joseph:
    - admin
    - emergency


users: 
  - name: ansible
    uid: 1001
    groups: [sudo]
    shell: /bin/bash
    create_home: true
    state: present

  - name: joseph
    uid: 1000
    groups: [sudo]
    shell: /bin/bash
    create_home: true
    state: present