---
- name: Ensure apt cache is up to date (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_facts.os_family == "Debian"

- name: Upgrade packages (safe)
  ansible.builtin.apt:
    upgrade: "safe"
  when: ansible_facts.os_family == "Debian"

- name: Set timezone
  ansible.builtin.timezone:
    name: "{{ timezone }}"
