---
- name: Provision VM(s) from template via Proxmox API (v2)
  hosts: pve_instances
  gather_facts: false

  vars:
    ansible_python_interpreter: "{{ playbook_dir }}/../.venv/bin/python"

  roles:
    - role: ssh_key_gen_v1
      tags: ["step1"]
      
    - role: pve_clone_api_v3
      tags: ["step2"]

    - role: pve_vm_hw_set_v1
      tags: ["step3"]

    - role: 
    - role: devsec.hardening.os_hardening
      tags: ["step"]
      vars:
        sysctl_overwrite:
          net.ipv4.ip_forward: 1