---
- name: Provision HAOS VM(s) from template (API)
  hosts: haos_vms
  gather_facts: false
  become: false

  tasks:
    - name: Clone each HAOS VM
      ansible.builtin.include_role:
        name: pve_haos_clone_api
      vars:
        vmid: "{{ hostvars[item].vmid }}"
        vm_name: "{{ hostvars[item].vm_name }}"
        pve_target_node: "{{ hostvars[item].pve_target_node | default(pve_node_name) }}"
        pve_onboot: "{{ hostvars[item].pve_onboot | default(true) }}"
        pve_protection: "{{ hostvars[item].pve_protection | default(true) }}"
      loop: "{{ groups['haos_vms'] | default([]) }}"
