---
- name: Provision VM(s) from template via Proxmox API (v2)
  hosts: pve_vms
  gather_facts: false

  vars:
    ansible_python_interpreter: "{{ playbook_dir }}/../.venv/bin/python"

  roles:
    - role: pve_clone_api_v2
      tags: ["clone_api"]
